<h>投稿を編集する</h>
<hr>
<%= form_for @post do |f| %>

<P>内容</P>
<%= f.text_area :content, :class => "form-control" %>
<br>
<P>場所</P>
<%= f.text_filed :place, :class => "form-control" %>

<hr>
<%= f.submit "変更" :class => "btn btn-primary"　%>
<% end %>
<a class="btn btn-info"><%= link_to("/トップ戻る", "/posts") %></a>